/* Container
   ========================================================================== */

.d-Container {
  --Container-paddingSize: 20px;

  padding-right: var(--Container-paddingSize);
  padding-left: var(--Container-paddingSize);
}

@media (min-width: 600px) {
  .d-Container {
    --Container-paddingSize: 0;

    width: 80%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Grid
   ========================================================================== */

.d-Grid {
  --Grid-gapSize: 20px;
  --Grid-columnSizes: 1fr;

  display: grid;
  grid-gap: var(--Grid-gapSize);
  grid-template-columns: var(--Grid-columnSizes);
  flex-wrap: initial;
  margin: initial;
}

@media (min-width: 600px) {
  .d-Grid {
    --Grid-gapSize: 24px;
    --Grid-columnSizes: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .d-Grid {
    --Grid-columnSizes: repeat(3, 1fr);
  }
}

/* Post
   ========================================================================== */

.d-Post {
  --Post-paddingSize: 20px;

  height: 100%;
  background-color: whitesmoke;
}

.d-Post-description {
  padding: var(--Post-paddingSize);
}

@media (min-width: 600px) {
  .d-Post {
    --Post-paddingSize: 24px;
  }
}
