:root {
  --Container-padding-size: 20px;
  --Grid-gap-size: 20px;
  --Post-padding-size: 20px;
}

@media (min-width: 600px) {
  :root {
    --Container-padding-size: 0;
    --Grid-gap-size: 24px;
    --Post-padding-size: 24px;
  }
}

/* Container
   ========================================================================== */

.d-Container {
  padding-right: var(--Container-padding-size);
  padding-left: var(--Container-padding-size);
}

@media (min-width: 600px) {
  .d-Container {
    width: 80%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Grid
   ========================================================================== */

.d-Grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--Grid-gap-size) / -2);
}

@supports (display: grid) {
  .d-Grid {
    display: grid;
    grid-gap: var(--Grid-gap-size);
    grid-template-columns: 1fr;
    flex-wrap: initial;
    margin: initial;
  }
}

@supports (display: grid) {
  @media (min-width: 600px) {
    .d-Grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 960px) {
    .d-Grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.d-Grid-cell {
  min-width: 0;
  flex-basis: 100%;
  padding: calc(var(--Grid-gap-size) / 2);
}

@supports (display: grid) {
  .d-Grid-cell {
    min-width: initial;
    flex-basis: initial;
    padding: initial;
  }

  .d-Grid-cell[class*="u-md-size"],
  .d-Grid-cell[class*="u-lg-size"] {
    flex-basis: initial !important;
    width: initial !important;
  }
}

/* Post
   ========================================================================== */

.d-Post {
  height: 100%;
  background-color: whitesmoke;
}

.d-Post-description {
  padding: var(--Post-padding-size);
}

/* Utils
   ========================================================================== */

@media (min-width: 600px) {
  .u-md-size1of2 {
    flex-basis: auto !important;
    width: 50% !important;
  }
}

@media (min-width: 960px) {
  .u-lg-size1of3 {
    flex-basis: auto !important;
    width: calc(100% / 3) !important;
  }
}
